%h1
  create your composite
  
%form{:action=>"/",:method=>"post"   ,:enctype=>"multipart/form-data"}
  %input{:type=>"file",:name=>"file"}
  %input{:type=>"text",:name=>"text"}
  %input{:type=>"submit",:value=>"Upload"}
